body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
    text-align: center;
}

header {
    padding: 50px 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.intro {
    color: #38bdf8;
    font-size: 20px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

section {
    padding: 50px 20px;
}

.skills span {
    display: inline-block;
    background: #334155;
    padding: 10px 15px;
    margin: 8px;
    border-radius: 20px;
    transition: 0.3s;
}

.skills span:hover {
    background: #38bdf8;
    color: black;
}

.project-card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    background: #334155;
}

footer {
    background: #020617;
    padding: 15px;
    font-size: 14px;

}

/* Smooth Fade In Animation */
body {
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
